.hero-photo {
  background-image: url("./images/pexels-andre-furtado-1264210.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-photo {
  background-image: url("./images/pexels-fwstudio-164005.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
