.hero-photo {
  background-image: url("./images-for-css/cropped.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.my-work-photos {
  background-image: url("./images-for-css/pexels-tirachard-kumtanom-733853.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-template-columns: 1fr;
}

.gallery-photo {
  background-image: url("./images-for-css/pexels-fwstudio-164005.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.album-link div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 900px) {
  .my-work-photos {
    grid-template-columns: 1fr 1fr;
  }
}
